.brand{
    margin-left: 30px;
    height: 60px;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link{
    color: #fff !important;
}