<div class="container" *ngIf="!collapsed" style="padding: 10px 40px 10px 40px;">
    <div class="row padding-10">
        <h1>{{headlineDetails?.title}}</h1>
        <b>By <a>{{headlineDetails?.author}}</a>, {{headlineDetails?.source?.name}}</b>
    </div>
    <div class="row padding-10">
        <mat-icon class="material-icons-outlined" style="margin-right: 20px;">
            schedule
        </mat-icon>
        {{headlineDetails?.publishedAt | date}}
    </div>
    <div class="row padding-10">
        <img class="card-img-top" src="{{headlineDetails?.urlToImage}}" alt="Card image cap">
    </div> 
    <div class="row">
        <p>{{headlineDetails?.content}}</p>
    </div>
</div>
